body {
  background-color: #eee;
}

.navbar-brand {
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.btn-lg {
  margin: 0 1rem;
}

.rounded-circle {
  margin: 0 auto;
  max-height: 10rem;
  max-width: 10rem;
  padding: 1rem;
  object-fit: cover;
  object-position: top;
}

.list-group-item span {
  float: right;
  margin-right: .5rem;
}

.card {
  margin-top: 2rem;
}

#main-container {
  padding-top: 3rem;
}